@layer components {
    .c-setcion-form form {
        @apply space-y-5;
    }

    /* .form-group */
    .form-group {
        > label:first-of-type {
            @apply inline-block mb-2.5 text-gray-500 text-opacity-80 font-medium text-sm pb-1 border-b border-indigo-300 border-opacity-75;
        }

        .form-input, .form-select {
            @apply text-gray-500;
            min-height: auto;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .form-checkbox + *,
        .form-radio + *
        {
            @apply text-sm;
        }
    }

    /* .form-icon */
    .form-icon {
        .form-input {
            padding-left: 3rem;
        }

        i, .icon {
            pointer-events: none;
            @apply absolute flex items-center h-full pl-4 text-gray-700 text-xl;
        }
    }

    /* .form-toggle */
    .form-toggle {
        input:checked ~ .dot {
            transform: translateX(100%);
        }

        input:checked ~ .bar {
            background: #6179ee;
        }
    }

    /* .form-prepend */
    .form-prepend {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        .form-input {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            flex: 1 1 auto;
            width: 1px;
        }
    }
}
