#header {
    .p-brand {
        .p-brand-name {
            font-family: 'EN Title';
            display: inline-block;
        }
    }

    input.hidden:checked + .toolbar-dropdown {
        & > .hidden {
            display: block;
        }
    }
}
