@layer components {
    .c-setcion-form form {
        @apply space-y-5;
    }

    /* .form-group */
    .form-group {
        @apply block w-full;

        > label:first-of-type:not([for]) {
            @apply inline-block mb-1 text-gray-500 font-medium text-sm leading-none pb-1;
            /* @apply: ; border-b border-indigo-300 border-opacity-75; */
        }

        .form-input, .form-select {
            @apply block w-full text-gray-500 leading-none border border-gray-400/70 rounded px-2.5 py-2;
        }

        .form-checkbox + *,
        .form-radio + *
        {
            @apply text-sm;
        }
    }

    /* .form-icon */
    .form-icon {
        .form-input {
            padding-left: 3rem;
        }

        i, .icon {
            pointer-events: none;
            @apply absolute flex items-center h-full pl-4 text-gray-700 text-xl;
        }
    }

    /* .form-toggle */
    .form-toggle {
        input:checked ~ .dot {
            transform: translateX(100%);
        }

        input:checked ~ .bar {
            background: #6179ee;
        }
    }

    /* .form-prepend & .form-append */
    .form-prepend, .form-append {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        span {
            @apply flex items-center px-3 bg-gray-100 text-gray-500 text-sm border border-gray-400/70;
        }
    }

    .form-prepend {
        span {
            @apply rounded-l border-r-0;
        }
        .form-input {
            @apply !rounded-l-none border-l-gray-400/50;
            flex: 1 1 auto;
            width: 1px;
        }
    }

    .form-append {
        span {
            @apply rounded-r border-l-0;
        }
        .form-input {
            @apply !rounded-r-none border-r-gray-400/50;
            flex: 1 1 auto;
            width: 1px;
        }
    }
}
