@layer components {
    .ferry-setcion-form form {
        @apply space-y-5;
    }

    /* .form-group */
    .form-group {
        @apply block w-full py-2.5;

        &:first-of-type {
            @apply pt-0;
        }
    }

    /* .form-group label */
    .form-group > label {
        &:first-of-type:not([for]) {
            @apply inline-block mb-1 text-gray-700 font-semibold text-[15px] leading-none pb-1;
        }
    }

    .form-input, .form-select {
        @extend %form-input-style;
        @apply block min-h-[32px] w-full text-gray-500 leading-none tracking-wide border rounded px-2.5 py-2; /* min-h-[38px] 為保證  input file 中的替代 label 同高 */
    }

    .form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus {
        @extend %form-input-style;
    }

    .form-input[disabled], .form-input[readonly],
    .form-radio[disabled]:not(:checked), .form-radio[readonly]:not(:checked)
    {
        @apply bg-gray-100/70 border-gray-200;
    }

    .form-checkbox + *,
    .form-radio + *
    {
        @apply text-[15px] leading-none;
    }

    /* .form-toggle */
    .form-toggle {
        input:checked ~ .dot {
            transform: translateX(100%);
        }

        input:checked ~ .bar {
            @apply bg-blue-600;
        }
    }

    /* .form-prepend & .form-append */
    .form-prepend, .form-append {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        span {
            @extend %form-input-style;
            @apply flex items-center px-3 bg-gray-100 text-gray-500 text-sm border;
        }
    }

    .form-prepend {
        span {
            @apply rounded-l border-r-0;
        }
        .form-input {
            @apply !rounded-l-none border-l-gray-400/50;
            flex: 1 1 auto;
            width: 1px;
        }
    }

    .form-append {
        span {
            @apply rounded-r border-l-0;
        }
        .form-input {
            @apply !rounded-r-none border-r-gray-400/50;
            flex: 1 1 auto;
            width: 1px;
        }
    }

    .ferry-form-submit {
        @apply flex justify-center bg-gradient-to-r from-gray-100/30 to-slate-200/30 -mx-6 px-6 py-[26px] mt-2;

        .ferry-form-submit-button {
            @apply w-full max-w-xs bg-gradient-to-r from-blue-500 to-indigo-500 px-5 py-3.5 text-white rounded;
            @apply transition duration-300 hover:from-blue-600 hover:to-blue-700;
        }
    }
}
